.start-stream-modal
    width 400px
    height fit-content
    .modal-bottom
        .stream-title,
        .stream-runner
            background #13222b
            color white
            font-size 15px
            font-weight 500
            letter-spacing .3px
            outline none
            border none
            width 100%
            padding 8px
            box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
            transition background .3s, box-shadow .3s
            &::placeholder
                color #9AA5AB
                font-weight 500
            &:focus
                background #121f27
            &.error
                box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px red
        .stream-runner
            resize none
            height 100px
        .stream-title
            margin-bottom 15px
        .start-stream-btn
            background #de421a
            color white
            font-weight 500
            font-size 15px
            letter-spacing .5px
            float right
            padding 7px 12px
            border none
            outline none
            cursor pointer 
            transition background .3s
            margin-top 15px
            border-radius .3em
            &:hover
                background #b7310e

.stop-stream-modal
    width 400px
    .modal-bottom
        p
            color white
            text-align center
            font-size 17px
            font-weight 500
            letter-spacing .3px        
        .stop-stream-btn
            background #de421a
            color white
            font-weight 500
            font-size 15px
            letter-spacing .5px
            float right
            padding 7px 12px
            border none
            outline none
            cursor pointer 
            transition background .3s
            margin-top 15px
            border-radius .3em
            &:hover
                background #b7310e

.page-title-flex-container
    display flex
    justify-content space-between
    align-items center
    width 100%
    margin-top 20px
    .page-title
        margin-top 0 !important
    #stream-action-btn
        background #0d171d
        border-radius .3em
        cursor pointer
        width 175px
        height 40px
        box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.05)
        transition background .3s, box-shadow .3s
        &:hover
            background #172831
            box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.1)
        .icon
            background-image url("/img/start-stream.svg")
            background-size cover
            background-position center
            background-repeat no-repeat
            width 14px
            height 14px
            position absolute
            top 50%
            left 20px
            transform translateY(-50%)
        p
            color white
            letter-spacing .5px
            font-weight 600
            font-size 14px
            position absolute
            top 50%
            left calc(50% + 11px)
            transform translate(-50%, -50%)
            width fit-content

.loader
    background-image url("/img/loader.svg")
    background-size cover
    background-position center
    background-repeat no-repeat
    width 35px
    height 35px
    margin 40px auto 0
    display none

.stream-status
    display flex
    justify-content left
    align-items center
    &.inactive
        .dot
            background #fd3e3e
            box-shadow 0 0 6px 0 #fd3e3e
        p
            color #fd3e3e
            text-shadow 0 0 4px #fd3e3e
    &.active
        .dot
            background #00c44e
            
            box-shadow 0 0 6px 0 #00c44e 
        p
            color #00c44e
            text-shadow 0 0 4px #00c44e

    .dot
        width 10px
        height 10px
        border-radius 12px
        margin 1px 15px 0 0
    p
        font-size 18px
        letter-spacing .3px
        font-weight 500

.stream-inactive-container,
.stream-active-container
    width 100%
    height fit-content
    position relative

.stream-active-container
    .widget
        position relative
        width 100%
        background #0D171D
        box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
        margin-bottom 20px
        .title
            color white
            font-weight 700
            letter-spacing 1px
            font-size 22px
         .widget-content
            width calc(100% - 30px)
            margin 0 auto
            position relative
            height 100%
    .started-by
        margin 25px 0 10px
        display flex
        justify-content left
        align-items center
        p.label
            color #9AA5AB
            font-size 14px
            letter-spacing .3px
            margin 5px 12px 0 0
        .user
            display flex
            justify-content left
            align-items center
            margin-top 3px
            cursor pointer
            width fit-content
            &:hover
                .user-name
                    text-decoration underline
            .profile-picture
                background-size cover
                background-position center
                background-repeat no-repeat
                width 35px
                height 35px
                border-radius 30px
                margin 2px 8px 0 0
            .user-name
                margin 0
                color #ff6b45
            .external-link-icon
                background-image url("/img/external-link.svg")
                background-size cover
                background-repeat no-repeat
                background-position center
                width 14px
                height 14px
                margin 1px 0 0 5px
                opacity 0.5
    .stream-view-widget
        padding 15px 0 30px
        .title
            margin-bottom 15px
        .stream-video-wrap
            width 100%
            background #0a1217
            .stream-video
                width fit-content
                height fit-content
                margin 0 auto
                position relative
                img
                    width 100%
                    max-width 1200px
                    opacity 0
                .slate
                    z-index 20
                .slate,
                #my-video
                    width 100%
                    height 100%
                    position absolute
                    top 0
                    left 0
        .stream-info
            .stream-title
                color white
                font-size 40px
                margin-top 20px
                letter-spacing .5px
            .stream-runner  
                margin-top 10px
                color #9AA5AB
                font-size 17px
                letter-spacing .5px
                line-height 150%
    .stream-timer-widget
        height 250px
        padding 15px 0
        .title
            margin-left 15px
        p.start-time
            color #9AA5AB
            font-size 15px
            letter-spacing .3px
            margin-left 15px
        .timer
            display flex
            justify-content center
            align-items center
            position absolute
            top calc(50% + 10px)
            left 50%
            transform translate(-50%, -50%)
            .divider
                color #9AA5AB
                margin 0 40px
                font-size 25px
                font-weight 600
            .time-unit-wrap
                text-align center
                .time
                    color white
                    font-size 70px
                    letter-spacing 1px
                .label
                    color #9AA5AB
                    font-size 11px
                    text-transform uppercase
                    letter-spacing .5px
    .slate-control-widget
        padding 15px 0
        .slate-select
            display flex
            justify-content left
            flex-flow row wrap
            width 100%
            position relative
            height fit-content
            max-width 1400px
            margin 15px auto
            .slate-option
                width calc(25% - 10px)
                margin 0 5px 10px
                box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.05)
                position relative
                padding 10px 0
                cursor pointer
                background #132027
                transition background 0.3s, box-shadow 0.3s
                &:hover
                    background #172831
                    box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.1)
                &.active
                    background #F05027
                    box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
                    p
                        color white
                .turn-off-slate
                    position absolute
                    top 50%
                    left 50%
                    transform translate(-50%, -50%)
                    color lightgrey
                    font-weight 600
                    font-size 18px
                    letter-spacing .5px
                .title
                    color lightgrey
                    font-weight 600
                    font-size 18px
                    margin 0 0 10px 2.5%
                    letter-spacing .5px
                img
                    width 95%
                    margin-left 2.5%