.header
    height 150px
    width 100%
    display flex
    align-items center
    .back-button
        width 45px
        height 45px
        opacity 0.5
        margin 8px 40px 0
        cursor pointer
        transition opacity .3s
        &:hover
            opacity 1
    .name
        color #fff
        font-size 55px
        letter-spacing .5px

.main-content
    width calc(100% - 250px)
    background blue
    margin 0 auto
    height 800px