body
	background #132027
	overflow hidden
	&.nav-inactive
		.nav
			left -350px !important
		.page-container
			width 100% !important
			margin-left 0 !important

.nav
	background #0D171D
	width 300px
	height 100%
	position fixed
	top 0
	left 0
	z-index 5
	box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
	overflow hidden
	transition left .3s
	.nav-content
		width 100%
		height 100%
		overflow-y auto
		.logo-container
			margin 20px 0 0 20px
			display flex
			justify-content left
			align-items center
			.logo
				background-image url("/img/dtech-logo.png")
				background-size cover
				background-position center
				background-repeat no-repeat
				width 35px
				height 35px
				margin-right 15px
			.title
				color white
				font-size 25px
				font-weight 800
				letter-spacing .5px
		.nav-links
			margin 40px 0 0 20px
			width calc(100% - 40px)
			.link-wrap
				position relative
				display block
				width 100%
				height 40px
				margin-bottom 30px
				background none
				border-radius .3em
				display flex
				justify-content left
				align-items center
				cursor pointer
				&:hover
					background #172731
				&.active
					background #F05027
				.icon 
					background-size cover
					background-position center
					background-repeat no-repeat
					margin 0 20px
				p
					color white
					font-weight 600
					letter-spacing .3px
					font-size 17px

.page-container
	width calc(100% - 300px)
	height 100%
	position relative
	margin-left 300px
	overflow-y auto
	transition margin-left .3s, width .3s
	.page-content
		height fit-content
		width calc(100% - 80px)
		margin 20px auto
		.menu-btn
			cursor pointer
			width fit-content
			&:hover
				.bar
					background #F05027 !important
			.bar
				height 3px
				width 28px
				background #344a56
				margin 5px 0
				transition background .3s
		.page-title
			color lightgrey
			font-weight 600
			letter-spacing .5px
			font-size 30px
			margin-top 20px