.page-title
    display none
.loader
    background-image url("/img/loader.svg")
    background-size cover
    background-position center
    background-repeat no-repeat
    width 35px
    height 35px
    margin 50px auto 0

.user-status
    display flex
    justify-content left
    align-items center
    margin-top 2px
    &.online
        .dot
            display block
    &.offline
        .dot
            display none
        p
            text-shadow none
            color grey
    .dot
        background #00c44e
        display none
        width 10px
        height 10px
        border-radius 12px
        margin 1px 15px 0 0
        box-shadow 0 0 6px 0 #00c44e
    p
        color #00c44e
        font-size 18px
        letter-spacing .3px
        font-weight 500
        text-shadow 0 0 5px #00c44e