.search-users-wrap
	width 100%
	height 45px
	display flex
	justify-content space-between
	align-items center
	margin 20px 0 30px
	.input-wrap
		height 100%
		background #0D171D
		width calc(100% - 410px)
		box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
		.search-icon
			background-image url("/img/search.svg")
			background-size cover
			background-position center
			background-repeat no-repeat
			width 20px
			height 20px
			position absolute
			top 50%
			left 15px
			transform translateY(-50%)
			opacity 0.4
		.search-input
			width calc(100% - 40px)
			margin-left 50px
			height 100%
			border none
			background transparent
			color white
			font-size 15px
			letter-spacing .3px
			outline none
			&::placeholder
				color white
				opacity 0.4
	.filters-wrap
		display flex
		justify-content space-between
		width 400px
		height 100%
		.filter-btn
			height 100%
			background #0D171D
			width calc(50% - 5px)
			cursor pointer
			position relative
			border-radius 100000px
			box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
			transition background .3s, box-shadow .3s
			&:hover
				background #111d23
				box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.1)
			&.active
				background #172831
				box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.1)
			p
				color white
				font-weight bold
				font-size 15px
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)

.loader
	background-image url("/img/loader.svg")
	background-size cover
	background-position center
	background-repeat no-repeat
	width 35px
	height 35px
	margin 0 auto
	display none

.results-count
	color grey
	text-align center
	font-size 15px
	font-weight 500
	letter-spacing .3px
	margin-bottom 20px
	display none

.no-results,
.search-prompt
	color lightgrey
	text-align center
	font-size 17px
	
	letter-spacing .5px
	margin 40px 0
.no-results
	display none
	font-weight 200
	u
		color #fd5050
		font-weight 600

.search-prompt
	font-weight 600

.users-wrap
	width 100%
	display flex
	align-items center
	flex-flow wrap row
	.user
		background #0d171d
		border-radius .3em
		width calc(33.3% - 10px)
		height 55px
		margin 0 5px 10px
		cursor pointer
		box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.05)
		transition background .3s, box-shadow .3s
		&:hover
			background #172831
			box-shadow 0 0 12px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.1)
		.user-status
			display flex
			position absolute
			justify-content center
			align-items center
			width fit-content
			right 15px
			top 50%
			transform translateY(-50%)
			&.online
				.status-dot
					background #00c44e
					box-shadow 0 0 5px 0 #00c44e
				.status-text
					color #00c44e
					text-shadow 0 0 3px #00c44e
			&.offline
				.status-dot
					background #fd3e3e
					box-shadow 0 0 5px 0 #fd3e3e
				.status-text
					color #fd3e3e
					text-shadow 0 0 3px #fd3e3e
			.status-dot
				width 8px
				height 8px
				border-radius 8px
				margin-right 8px
			.status-text
				font-size 13px
				font-weight 300
				letter-spacing .5px
		.user-content
			width fit-content
			height 100%
			margin 0 20px
			display flex
			justify-content space-between
			align-items center
			.profile-picture
				background-image url("https://lh5.googleusercontent.com/-PSudgA2F7yc/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJOEJIdtqfx-J_lRiVP2z4YwwyTGrA/photo.jpg")
				background-size cover
				background-position center
				background-repeat no-repeat
				min-width 40px
				min-height 40px
				border-radius 35px
				margin-right 10px
			.info-container
				.name
					margin-right 15px
					color white
					font-size 15px
					letter-spacing .3px
					font-weight 500
					margin-bottom 2px
				.email
					color grey
					font-size 12px
					font-weight 400
