html
	head
		include ../main
		link(rel="Stylesheet" href="/css/index/index.css")
		link(href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet")
	body
		.nav-container
			.nav-content
				.nav-flex.left-wrap
					h1.title KoiStream
					p.status-tag LIVE
				.nav-flex.right-wrap
					case auth
						when 3
							.admin-dashboard-btn.nav-btn(onclick="window.location.href='/admin/stream'")
								.icon
								p Admin Dashboard
					.report-error-btn.nav-btn
						.icon
						p Report Error
					.logout-btn.nav-btn(onclick="window.location.href='/auth/logout'")
						.icon
						p Log Out
		.page-content
			.stream-container
				.stream-info-container
					.stream-info-content
						h1.stream-title KoiStream
				.stream-video
					img(src="/img/countdown-bg.png")
					.slate.reg-image
				.viewer-count-container
					.line
					p 0 Viewers
					.line
			.chat-widget
				.title-container
					h1.title Live Chat
					p.chat-status
				button.enable-autoscroll Enable Autoscroll
				.live-chat-container
					.poll-container
						.finished-voting-container
							.flex-container
								.icon
								h1 Voted
							.close-poll-container
						.poll-content
							p.container-title Poll
							h1.question
							.options-container
							button.submit-vote-btn Vote
					.chat-content
						.loader
						//h1.no-chats No Messages
						.chat.announcement(style="display: none;")
							span.chat-sender Team KoiStream:
							span.chat-text Welcome to KoiStream! If you have any questions or issues, feel free to email us at <a href="mailto:koistream@dtechhs.com">koistream@dtechhs.com</a>.
				.input-container
					textarea.chat-input(data-gramm_editor="false" placeholder="Send a message...")
					.emoji-btn.live-chat-action-btn
						.icon
						.emoji-menu
							.loader
							.all-emojis-container
								.flex-wrap
									h2.title Custom
									p.new-notify new!
								.custom-emojis-container
								.flex-wrap
									h2.title Basic
								.emojis-container
					.submit-chat-btn.live-chat-action-btn
						.icon
		.chat-guidelines-modal
			.modal-top
				h1.title Chat Guidelines
				.close
			.modal-content
				ol.list
					li Be kind and respectful to other viewers
					li No bullying, sexism, racism, homophobia, political or other hateful chats
					li Keep your chats positive and relevant to what is happening during the stream
					li Listen to staff members and the chat moderation team
					li No spamming in the chat
					li Do not advertise, self-promote or post links
		include ./reportErrors
		include ../notifications
script(src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.0/video.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.15.0/videojs-contrib-hls.min.js")
script(src="/videojs/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js")
script(src="/videojs/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js")
script(src="/js/index/index.js")
script(src="/js/index/chat.js")
