.darken-overlay
.report-error-modal
    .modal-top
        h1.title Report an Error
        .close
    .modal-content
        .input-wrap
            .error-type-select-wrap
                .select-btn
                    p.select-prompt Select Error Type
                    .icon
                .select-menu
                    p.option(data-option="1") Video Buffering
                    p.option(data-option="2") Audio Cutting Out
                    p.option(data-option="3") Website Issues
                    p.option(data-option="4") Other
        .input-wrap
            textarea.error-description(placeholder="Description (optional)" data-gramm_editor="false")
        .submit-report-btn
            .icon
            p Submit Report