#manage-chat-tags-modal.modal-container
	.modal-top
		h1.modal-title Manage Chat Tags
		.close-modal-button.modal-top-action-button-styles
			img.icon(src="/img/close-icon-white.svg")
	.modal-content
		button.create-chat-tag-button.blue-round-text-button-style Create New Chat Tag

#confirm-delete-chat-tag-modal.modal-container
	.modal-top
		.previous-modal-button.modal-top-action-button-styles
			img.icon(src="/img/back-icon-white.svg")
		.close-modal-button.modal-top-action-button-styles
			img.icon(src="/img/close-icon-white.svg")
	.modal-content
		h1.modal-title Delete Chat Tag
		p.confirm-message Are you sure that you want to delete the <b class="chat-tag-name">Moderator</b> chat tag? This action is irreversible.
		button.blue-round-text-button-style.confirm-delete-button Delete

#add-chat-tag-modal.modal-container
	.modal-top
		.previous-modal-button.modal-top-action-button-styles
			img.icon(src="/img/back-icon-white.svg")
		.close-modal-button.modal-top-action-button-styles
			img.icon(src="/img/close-icon-white.svg")
	.modal-content
		h1.modal-title Create Chat Tag
		.input-container
			p.label Tag Name
			input.chat-tag-name(placeholder="Enter a tag name")
		.color-picker-container
			p.label Tag Color
			.chat-tag-color-picker
		.flex-submit-container
			.preview-container
				p.label Preview
				.preview-content
					span.chat-tag Example
					span.chat-sender User
			button.submit-button.blue-round-text-button-style(data-action="create") Create

#manage-admin-accounts-modal.modal-container
	.modal-top
		h1.modal-title Manage Admins
		.close-modal-button.modal-top-action-button-styles
			img.icon(src="/img/close-icon-white.svg")
	

.widget-container#search-users-widget
	h2.widget-title Find a User
	.search-controls-container
		.search-input-container
			.icon-container
				img.icon(src="/img/search-icon-white.svg")
			input#user-search-input(placeholder="Enter a name or email")
		.action-buttons-container
			.dropdown-menu(style="opacity: 0; visibility: hidden")
				.top-triangle
				#settings-menu-container.dropdown-menu-content-container
					button.manage-chat-tags-button.settings-action-button Chat Tags
					//button.manage-admin-accounts-button.settings-action-button Manage Admins
				#filters-menu-container.dropdown-menu-content-container
					.filter-button(data-filter="muted")
						.checkmark-box
							img.icon(src="/img/checkmark-icon-white.svg")
						p.value Muted
					.filter-button(data-filter="banned")
						.checkmark-box
							img.icon(src="/img/checkmark-icon-white.svg")
						p.value Banned
					.filter-button(data-filter="onlydtech")
						.checkmark-box
							img.icon(src="/img/checkmark-icon-white.svg")
						p.value ONLY @dtechhs.org
					.filter-button(data-filter="notdtech")
						.checkmark-box
							img.icon(src="/img/checkmark-icon-white.svg")
						p.value NOT @dtechhs.org
					
			.icon-button(data-menu="filters-menu" data-right="50")
				img(src="/img/filter-icon-white.svg")
				.dot
					p.value 1
			.icon-button(data-menu="settings-menu" data-right="0")
				img(src="/img/settings-icon-white.svg")
.widget-container#users-table-widget
	.prompt-search-container.users-widget-inner-container.active
		img(src="/img/search-illustration.svg")
		p Search for users by name or email
	.loading-container.users-widget-inner-container
		p Loading Users
		.loading-bar
			.inside-loader
	.no-results-container.users-widget-inner-container
		p No users found
	.users-table-container.users-widget-inner-container
		.table-head
			.table-head-item#first-name-table-head-item
				.inner-head-item-content
					p First Name
					img.sort-arrow.active.a-to-z(src="/img/up-arrow-icon-blue.svg" data-value="firstName" style="display:none;")
			.table-head-item#last-name-table-head-item
				.inner-head-item-content
					p Last Name
					img.sort-arrow(src="/img/up-arrow-icon-blue.svg" data-value="lastName")
			.table-head-item#email-table-head-item
				.inner-head-item-content
					p Email
					img.sort-arrow(src="/img/up-arrow-icon-blue.svg" data-value="email")
		.table-rows
		.page-selector
			.previous-page-button.page-control-button
				img.icon(src="/img/short-left-arrow-icon-white.svg")
			p.val 1-10 of 100 Users
			.next-page-button.page-control-button.active
				img.icon(src="/img/short-left-arrow-icon-white.svg")