.AWS-controls
	input(type="button" value="Start Stream Server" onclick="changeStreamServerState(true)")
	br
	input(type="button" value="Stop Stream Server" onclick="changeStreamServerState(false)")
	br
	input(type="button" value="Get Stream Server Inputs" onclick="callStreamServerInputs()")
	br
	input(type="button" value="Get Stream Server State" onclick="callStreamServerState()")
	br
	br
	.state
		h2 State
		p Pending
	br
	.inputs
		h2 Inputs
		p.in1 Input 1: Pending
		p.in2 Input 2: Pending