.widget-flex-container
    .chat-widget
        .title-container
          h1.title Live Chat
          p.chat-status
        button.enable-autoscroll Enable Autoscroll
        .live-chat-container
          .chat-content
            .loader
            h1.no-chats No Messages
        .input-container
          textarea.chat-input(data-gramm_editor="false" placeholder="Send a message...")
          .emoji-btn.live-chat-action-btn
            .icon
            .emoji-menu
              .loader
              .all-emojis-container
                .flex-wrap
                  h2.title Custom
                  p.new-notify new!
                .custom-emojis-container
                .flex-wrap
                  h2.title Basic
                .emojis-container
          .submit-chat-btn.live-chat-action-btn
            .icon
    .chat-details-widget
        p.prompt-text Click On A Chat
        .loader
        .chat-details-content
            .section.top-container
                h1.title Chat Details
            .section.user-info-container
                .profile-picture
                h1.user-name
                h2.user-email
            .section.chat-info-container
              .chat-wrap.regular
                label Message
              .chat-wrap.unfiltered
                label <u>Unfiltered</u> Message
            .section.mute-user-btn
                p Mute User
            .section.delete-chat-btn
                p Delete Chat