.poll-templates-container.container
	.top-content
		h1.container-title Poll Templates
		#add-template-btn
			.icon
	.scroll-container
		.main-content
			p.empty-container-notification No Templates Found
.previous-polls-container.container
	.top-content
		h1.container-title Poll History
	.scroll-container
		.main-content
			p.empty-container-notification No History Found