.search-users-wrap
    .input-wrap
        .search-icon
        input.search-input(type="text" placeholder="Search by name/email")
    .filters-wrap
        .filter-btn.banned-btn
            p Banned
        .filter-btn.muted-btn
            p Muted

p.search-prompt Search for a user or apply a filter.
p.no-results No Results
p.results-count 500 Results
.loader

.users-wrap
    