table.viewers-table
    tr.head-row
        th.name-head
            .flex-wrap
                .icon 
                p Name
        th.email-head
            .flex-wrap
                .icon 
                p Email
        th.join-time-head 
            .flex-wrap
                .icon
                p Join Time


.loader
p.no-viewers No Viewers